.section_projects
    z-index: 2
    display: grid
    height: 100vh
    width: 100vw
    // background-color: #40a994
    border-bottom: 1px solid #000
    box-sizing: border-box
    padding: 8%
    display: flex
    flex-direction: column
    justify-content: space-around
    align-items: center
    overflow: hidden
    background: var(--compponent-bg2-default)
    position: absolute
    top: 0
    z-index: 3
    margin-top: 30px









