@import '../../../../style/animation'
    
.scils
    left: 0
    z-index: 3
    background: var(--compponent-bg1-default)
    display: flex
    flex-direction: column
    justify-content: space-around
    padding:0 3%
    height: 95vh
    width: 100%
    box-sizing: border-box
    overflow: hidden
    position: absolute
    top: 0
    z-index: 4
    margin-top: 40px
    h1 
        margin-top: 0
    .set_skil
        opacity: 1
        display: flex
        flex-direction: column
        align-items: start
        gap: 5px
        .note
            margin: 0
            color: white
            font-size: 24px
        .cont_technologis
            .cont_techno
                opacity: 1
                margin-right: 1vw
                border: 1px solid violet
                // background-color: violet
                background-color: #dd2de017
                border-radius: 24px
                display: inline-block
                flex-wrap: wrap
                box-shadow:  2px 2px 4px #000
                animation: 4s ease  btnSkils
                &:hover .technologi 
                    transform: translateY(-10px)
                    box-shadow:  0px 6px 6px #e00d6d
                .technologi
                    transition: all 0.4s ease-in-out
                    width: 2vw
                    height: 3.5vh
                    margin: 11px
            .cont_dis
                display: inline-block
                margin-left: 5%
                .grey_cont
                    background-color: #80808015
                    border: 1px solid grey
                        



    

@media (max-width: 1024px)
.scils 
    .set_skil
        .cont_title
            font-size: 25px
        .cont_technologis 
            .cont_techno 
                
                .technologi
                    width: 40px
                    height: 40px
                    margin: 5px


@media (max-width: 769px)
.scils 
    // margin: 4%
    .set_skil 
        .note
            font-size: 21px
        .cont_title
            font-size: 25px
        .cont_technologis 
            .cont_techno 
                .technologi
                    width: 40px
                    height: 40px
                    margin: 5px

@media (max-width: 480px)
    .scils 
        .set_skil
            .cont_title
                font-size: 10px
            .note
                font-size: 15px
            .cont_technologis 

                .cont_techno 

                    .technologi
                        width: 30px
                        height: 30px
                        margin: 5px


@media (max-width: 320px)
    .scils 
        .set_skil
            .cont_title
                font-size: 15px
            .cont_technologis 
                .cont_techno 
                    .technologi
                        width: 35px
                        height: 30px
                        margin: 5px

