@import '../../style/variable.sass'
    
.footer
    background-color: #e8a567
    background-color: var(--compponent-default)
    height: 80px
    width: 100%
    display: flex
    align-items: center
    justify-content: center
    flex: 0 0 auto
    transition: 1s
    svg
        background-color: #fff
        width: 30px
        height: 30px


@media (min-width: 576px) 
    .footer
        border: 5px solid #63482e



@media (min-width: 768px)
    .footer
        border: 5px solid #1d140b


@media (min-width: 992px)
    .footer
        border: 5px solid #e8994f



@media (min-width: 1200px)
    .footer
        border: 5px solid #e87f1e
 