@import './normalize.css'


body
    transition: 1s
    background: var(--compponent-body-default)


body,html,#root
  height: 100%
  .App
    display: flex
    flex-direction: column

    width: 100%
    

