$dark:#000
$light:#caa8a8
$grad-dark: radial-gradient(circle, #0e1432 0%, #421720 100%)
$grad-light: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%)
$white: white


:root
  --compponent-body-dark: #{$grad-dark}
  --compponent-body-light: #{$grad-light}
  --compponent-body-default: var(--compponent-body-light)


  --compponent-dark: #{$dark}
  --compponent-light: #{$light}
  --compponent-default: var(--compponent-light)
